{% extends 'common/features/reset_password/reset_password_base.html.twig' %}

{% block title %}Your password reset!{% endblock %}

{% block content %}
        <p class="reset-password__text">
            Your password successfully reset. Now you may <a href="{{ path('app_login') }}">log in</a>!
        </p>
{% endblock %}
