{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('reset-password') }}
{% endblock %}

{% block body %}
    {% block flashMessages %}
    {% endblock %}
    <div class="reset-password">
        <div class="reset-password__container">
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
